name: Markdown Check

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch: {}

jobs:
  md-check:
    name: Markdown Check
    runs-on: ubuntu-latest
    steps:

    # https://github.com/marketplace/actions/skip-duplicate-actions
    - name: Skip check
      id: skip_check
      uses: fkirc/skip-duplicate-actions@v1.4.0
      with:
        github_token: ${{ github.token }}
        paths: '["**.md"]'

    # https://github.com/actions/checkout
    - name: Checkout code
      if: ${{ steps.skip_check.outputs.should_skip == 'false' }}
      uses: actions/checkout@v2

    - name: Copy configuration files
      if: ${{ steps.skip_check.outputs.should_skip == 'false' }}
      run: |
        cp ${GITHUB_WORKSPACE}/utilities/md-spellcheck/wordlist.txt ${GITHUB_WORKSPACE}/wordlist.txt
        cp ${GITHUB_WORKSPACE}/utilities/md-spellcheck/spellcheck.yml ${GITHUB_WORKSPACE}/spellcheck.yml

    - name: Replace path in Spell Check config
      if: ${{ steps.skip_check.outputs.should_skip == 'false' }}
      run: |
        sed -i -e 's/..\/..\///g' ${GITHUB_WORKSPACE}/spellcheck.yml

    # https://github.com/marketplace/actions/markdown-link-check
    - name: Markdown links check
      if: ${{ steps.skip_check.outputs.should_skip == 'false' }}
      uses: gaurav-nelson/github-action-markdown-link-check@v1
      with:
        use-quiet-mode: 'yes'
        use-verbose-mode: 'yes'
        config-file: './utilities/md-linkcheck/mlc_config.json'
      continue-on-error: true
      id: md-link-check

    # https://github.com/marketplace/actions/github-spellcheck-action
    - name: Markdown spell check
      if: ${{ steps.skip_check.outputs.should_skip == 'false' }}
      uses: rojopolis/spellcheck-github-actions@0.5.0
      continue-on-error: true
      id: md-spell-check

    - name: Register markdownlint problem matcher
      uses: xt0rted/markdownlint-problem-matcher@v1
      id: md-lint-check-matcher

    # https://github.com/marketplace/actions/markdownlint-mdl-action
    - name: Markdown lint check
      if: ${{ steps.skip_check.outputs.should_skip == 'false' }}
      uses: avto-dev/markdown-lint@v1
      with:
        args: '.'
      continue-on-error: true
      id: md-lint-check

    - name: Summarize
      if: ${{ steps.skip_check.outputs.should_skip == 'false' }}
      run: |
        echo "Markdown check results: "
        fail=0
        if [[ "${{steps.md-link-check.conclusion}}" == "failure" ]] || [[ "${{steps.md-link-check.outcome}}" == "failure" ]]; then
          fail=1
          echo -e "- Markdown links check:   \e[31mFailure"
        else
          echo -e "- Markdown links check:   \e[32mSuccess"
        fi
        if [[ "${{steps.md-spell-check.conclusion}}" == "failure" ]] || [[ "${{steps.md-spell-check.outcome}}" == "failure" ]]; then
          fail=1
          echo -e "- Markdown spell check:   \e[31mFailure"
        else
          echo -e "- Markdown spell check:   \e[32mSuccess"
        fi
        if [[ "${{steps.md-lint-check.conclusion}}" == "failure" ]] || [[ "${{steps.md-lint-check.outcome}}" == "failure" ]]; then
          fail=1
          echo -e "- Markdown lint check:    \e[31mFailure"
        else
          echo -e "- Markdown lint check:    \e[32mSuccess"
        fi
        if [[ $fail -eq 1 ]]; then
          echo -e "Expand individual steps above to view specific errors."
          exit 1
        fi
